block Variable
  - const title = APP_NAME
  - const url = WEBVIEW_URL

doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    style(type="text/css").
      html, body { margin: 0; padding: 0; }
  body
    webview(
      src= url
      style="width: 100vw; height: 100vh;"
    )
